/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

/* @font-face {
    font-family: "Roboto-Italic";
    src: url("/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}



h1 {
    font-family: Roboto-Italic ;
}

.heading {
     font-family: Roboto ;
} */

/* h1 {
    font-family: "Roboto", sans-serif;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}

.parent {
    /* height: 100vh;
    width: 100vw;
    background-color: rgb(92, 69, 27);
    display: flex; */
    
    /* gap: 20px; */
    /* column-gap: 50px; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content:flex-start */
   
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* flex-direction: column-reverse; */
    /* flex-flow: row wrap; */
    /* flex-direction: row-reverse; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
}
.parent { 
    height: 80vh;
    width: 100vw;
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    
    /* align-content: center; */

}

.parent .box1 {
    background-color: red;
    height: 100px;
    width: 500px;
    /* flex-grow: 1; */
    /* order: 1; */
    /* margin: 10px; */
    /* border: 2px solid white; */
   
}
.parent .box2 {
    background-color: blue;
    height: 100px;
    width: 500px;
    /* flex-grow: 1; */
    /* align-self: flex-end; */
    /* order: 2; */
    /* margin: 10px; */
   
}
.parent .box3 {
    background-color: green;
    height: 150px;
    width: 200px;
    /* flex-grow: 1; */
    /* align-self: center; */
    /* order: 3; */
    /* margin: 10px; */
   
}
.parent .box4 {
    background-color: yellow;
    height: 150px;
    width: 200px;
    /* flex-grow: 4; */
    /* flex-grow: 1; */
    /* flex-shrink: 3 */
    /* order: -1; */
    /* margin: 10px; */
   
}


.border {
    border: 2px solid black;
}