* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f4f7;
}

nav {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 3px 10px;
}

.nav-one div {
  width: 250px;
  height: 40px;
}

.nav-one div input {
  width: 100%;
  height: 100%;
  border-radius: 22px;
  padding-left: 15px;
  border: 1px solid gray;
}

.nav-one div input:focus {
  outline: none;
}

.nav-two {
  width: 150px;
}
.nav-two > .icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-two > .icons i,
.nav-three > .icons i,
.fa-magnifying-glass {
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.nav-two > .icons i:hover,
.nav-three > .icons i:hover {
  background-color: rgb(163, 159, 159);
  /* transition: all 0.5; */
  /* padding: 10px; */

  border-radius: 50%;
}

.nav-three {
  width: 320px;
}

.nav-three > .icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border-radius: 22px !important;
}


.fa-magnifying-glass {
  display: none;
  margin-top: 9.5px;
}

.leftSidebar {
    height: 90.5vh;
    overflow: auto; 
} 

.leftSidebar div, .chats div {
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
}
.leftSidebar div p, .chats div p{
    font-weight: bold;
   margin-top: 5px;
}
.leftSidebar div:hover, .chats div:hover {
    background-color: rgb(163, 159, 159);
    transition: all 0.5s;
}

.leftSidebar div img, .chats div img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.feed {
height: auto;
} 

.chats {
height: 90.5vh;
overflow: auto; 
}



@media only screen and (max-width: 992px) {
  .btn {
    display: none;
  }
  .nav-three {
    width: 200px;
  }
}
@media only screen and (max-width: 820px) {
  .nav-one div {
    width: auto;
  }

  .nav-one div input {
    display: none;
  }
  .fa-magnifying-glass {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .fa-grip,
  .fa-facebook-messenger,
  .fa-bell {
    display: none!important;
    /* background-color: red; */
  }

  .nav-three > .icons {
    display: flex;
    justify-content: end;
  }

  .nav-one {
    width: 150px;
  }
}
