@import url("about.css");
@import url("services.css");
@import url("services.css");


/* li {
    display: inline-block;
    padding: 20px;
    margin: 0px 10px;
}

ul {
    background-color: red;
}

span {
    display: block;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* div {
    height: 250px;
    width:  250px;
    background-color: red;
    margin: 20px;
    display: inline-block;
    display: ;
} */
.one {
  background-color: red;
}

.two {
  /* display: none; */
  visibility: hidden;

  background-color: blue;
}
.three {
  background-color: green;
}

nav > ul > li {
  display: inline-block;
}

/* nav {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */

#logo {
  margin-right: 150px;
  font-weight: bold;
  font-size: 40px;
  height: 50px;
  margin-left: 20px;
  /* opacity: 0; */
  /* visibility: hidden; */
  /* background-color: red; */
}

li {
  margin: 0px 20px;
  /* background-color: black; */
}

#btn {
  margin-left: 300px;
}

#home {
  /* display: none; */
  visibility: hidden;
}
body {
  width: 100%;
}

/* .container {
    width: 1200px;
    width: 100%;
    background-color: red;
    margin: 0px auto;
}

.icon {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
    top: 10px;
    left: 80px;
    top: -5px;
    color: white;
    text-align: center;
} */

/* #parent {
    margin-top: 50px;
    background-color: yellow;
    position: relative;
}


.card {
    height: 200px;
    width: 200px;
    background-color: red;
    position: relative;
}

p {
    /* position: absolute; 
    right: 0;
    bottom: 0;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    }
 */

/* h1 {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 10px;
  width: 100%;
  background-color: #efefef;
  z-index: 10;
}
p {
  position: relative;
  top: 70px;
  left: 70px;
} */


.box1 {
    width: 200px;
    height: 200px;
    background-color: blue;
    /* position: absolute;
    z-index: 99; */
    /* float: right;
      clear: right; */
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: red;
     /* position: absolute;
    z-index: 99; */
    /* float: left; */
 
    
}


