body {
            background-color: #292930;
            color: white;
        }

.hidden{
    display: none;
}

.box {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 400px;
    width: 400px;
    border-radius: 10px;
}