/* body {
    background-color: #EEEEEE;
    color: #1B211A;
    font-size: 26px;
    font-weight: 800;
}
button {
    background-color: #1B211A;
    color: grey;
} */

.card {
    /* width: 500px; */
    /* background-color: red; */
    display: block;
    /* margin: 0px auto; */
    height: 500px;
    /* background-position: center; */
    background-size: cover;
    background-image: url("images/natureImg.avif");
    background-attachment: scroll;
    color: #3c0101;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-x; */
    /* background-position: left top; */
    /* background-position: 50% 50%; */
    /* background: linear-gradient(); */
    /* background:red url(images/natureImg.avif) no-repeat; */
    /* background-size: cover;
    object-fit: cover; */
    /* background-size: contain; */
    /* background-image: linear-gradient(  50%cyan, 50%blue); */

    /* background-image: repeating-radial-gradient(red, yellow 10%, green 15%); */
    /* background-image: conic-gradient(red, yellow, green, blue, black,cyan); */
}

/* .myImg {
    height: 300px;
    width: 300px;
    display: block;
    margin: 0px auto;
} */